<app-page-title [number]="id" [difficulty]="difficulty"></app-page-title>
<div class="page-details-container">
    <div class="img-container easy-border" (click)="openDialog()">
        <img src="../../assets/default-image.jpeg" class="logo"/>
    </div>
    <div class="hint-container">
        <div class="hint-title">
            <span>Indice</span>
            <hr size="1" color="white">
        </div>
        <div class="hint-content">
            <span *ngIf="id == 1">
                “ Lorem ipsum dolor sit amet. Aut sequi possimus eos Quis animi...”
            </span>
            <div class="img-hint-container" (click)="openDialog()" *ngIf="id == 2">
                <img src="../../assets/default-image.jpeg" class="img-hint"/>
            </div>
        </div>
    </div>
</div>
