<app-page-title title="places" number="0"></app-page-title>
<div class="places-list">
    <button mat-raised-button class="button-place easy" [routerLink]="['/places/', 1]">
        <div class="white-round easy-font">1</div>
        Lieu 1
    </button>
    <button mat-raised-button class="button-place medium">
        <div class="white-round medium-font">2</div>
        Lieu 2
    </button>
    <button mat-raised-button class="button-place hard">
        <div class="white-round hard-font">3</div>
        Lieu 3
    </button>
    <button mat-raised-button class="button-place easy">
        <div class="white-round easy-font">4</div>
        Lieu 4
    </button>
    <button mat-raised-button class="button-place medium">
        <div class="white-round medium-font">5</div>
        Lieu 5
    </button>
    <button mat-raised-button class="button-place hard">
        <div class="white-round hard-font">6</div>
        Lieu 6
    </button>
    <button mat-raised-button class="button-place easy">
        <div class="white-round easy-font">7</div>
        Lieu 7
    </button>
    <button mat-raised-button class="button-place medium">
        <div class="white-round medium-font">8</div>
        Lieu 8
    </button>
    <button mat-raised-button class="button-place hard">
        <div class="white-round hard-font">9</div>
        Lieu 9
    </button>
    <button mat-raised-button class="button-place easy">
        <div class="white-round easy-font">10</div>
        Lieu 10
    </button>
    <button mat-raised-button class="button-place medium">
        <div class="white-round medium-font">11</div>
        Lieu 11
    </button>
    <button mat-raised-button class="button-place hard">
        <div class="white-round hard-font">12</div>
        Lieu 12
    </button>
</div>